@import url('https://fonts.googleapis.com/css?family=Nanum+Myeongjo');


body {
    margin: 0;
    font-family: 'Nanum Myeongjo', 'open sans';
    width: 100%;
    
}

.header, .text, .footer {
    text-align: center;
    margin: 0;
    
}
.header {
    background-color: rgba(137, 137, 137, 0.277);
    padding-top: 20px;
    padding-bottom: 20px;
}

.footer {
    padding: 25px;
    background-color: rgba(0, 123, 255, 0.373);
}

.verse1, .verse2 {
    background-color: rgba(230, 230, 230, 0.311);
    padding: 25px;
}

.text {
    width: 100%;
}

.chorus {
    background-color: rgba(19, 238, 81, 0.263);
    padding-bottom: 25px;
}